@import 'variables.scss';
@import 'fonts.scss';

body{
  background-color: pink;
  font-family: $typo-title;
}
.navbar {
  background-color: $grey;
} .nav-link {
    color : white;
  font-size : 20px;
  }  .navbar-brand {
       font-family: $typo-title;
       color : white;
  font-size: 35px;
       &:hover {
         color : $dark;
       }
     }
.checked {
  color: orange;
}
