@import 'variables.scss';
@import 'fonts.scss';

body{
  font-family: $typo-title;
  background-color: #F9F9FA;
}
.navbar {
  background-color: $blue;
} a {
    list-style-type: none;
  font-size:20px;
  color : $dark;
  } .nav-link {
    color : white;
  font-size : 20px;
  }  .navbar-brand {
       font-family: $typo-title;
       color : white;
  font-size: 35px;
       &:hover {
         color : white;
       }
     }
.checked {
  color: orange;
}

.img-baniere {
  width: 100%;
  background-size: cover;
}


